<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap">
  <title>Privacy Policy Generator by SIKI-EDUCATION</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A simple web app to generate a generic privacy policy for your website" />
  <meta name="keywords" content="Privacy Policy Generator by SIKI-EDUCATION,Privacy Policy Generator by siki-education,privacy policy by siki,siki privacy policy">
  <meta name="author" content="SIKANDAR">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <meta name="theme-color" content="#080404" />
  <link rel="icon" href="images1/favicon.png" type="image/png" />
  <!-- Add to homescreen for Chrome on Android-->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="images1/favicon.png">
  <!-- Add to homescreen for Safari on iOS-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Privacy Policy Generator by SIKI-EDUCATION">
  <link rel="apple-touch-icon" href="images1/favicon.png">
  <!-- Tile icon for Win8 (144x144 + tile color)-->
  <meta name="msapplication-TileColor" content="#00b4ff">
  <link rel="shortcut icon" href="images1/favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="css/style.css" media="(prefers-color-scheme: light)">
  <script type="module" src="https://unpkg.com/dark-mode-toggle" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/dark.css" media="(prefers-color-scheme: dark)">
 <style>
  .glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
 </style>
</head>

<body>

  <div id="particles-js"></div>



  <div id="app">
    <div class="container">
      <section class="hero is-primary">
        <div class="hero-body">
          <div class="columns">
            <div class="column">
              <div class="content"><a href="https://siki-education.github.io/" target="_blank" rel="noopener noreferrer">
                  <h1 class="glow">Privacy Policy Generator by <em>SIKI-EDUCATION</em> </h1>
                </a>
                <h3>Generate a generic Privacy Policy for your website</h3>

                </p>
                <p>

                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4117765786243799"
     crossorigin="anonymous"></script>
<!-- for pp -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4117765786243799"
     data-ad-slot="4486881909"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
      <section class="section" id="step-1" v-if="wizardStep==1">
        <div class="columns">
          <div class="column is-6 is-information"><img class="center-block sidebar-img"
              alt="Welcome to Privacy Policy Generator" src="images1/app_graphics/step_1.svg">
          </div>
          <div class="column box scrollable">
            <div class="control is-expanded">
              <p class="help form-label">Website Name</p>
              <input class="input" type="text" required v-model="webName" placeholder="Enter you website name"
                v-bind:class="{ 'is-danger': (webName == 'Please provide the name of website!' || webName.length == 0) }">
            </div>
            <div class="control is-expanded">
              <p class="help form-label">Contact E-mail</p>
              <input class="input" type="email" required v-model="webContact" placeholder="Enter your email"
                v-bind:class="{ 'is-danger': (webContact == 'Please provide the contact email!' || webContact == 'Please provide a valid email!' || webContact.length == 0) }">
            </div>
            <div class="control is-expanded">
              <p class="help form-label">Website URL</p>
              <input class="input" type="text" required v-model="siteURL" placeholder="Enter website URL"
                v-bind:class="{ 'is-danger': (siteURL == 'Please provide your website URL!' || siteURL.length == 0) }">
            </div>
            <div class="control">
              <p class="help form-label">Policy Effective Date</p>
              <!-- Policy Effective Date-->
              <input class="input is-primary" type="date" required="" v-model="effectiveFromDate">
            </div>
            <div class="control is-expanded">
              <p class="help form-label">Owner Type</p>
              <!-- Owner-->
              <div class="select" v-bind:class="{ 'is-danger': (typeOfDev.length == 0) }">
                <select v-model="typeOfDev">
                  <option value="" disabled="">Select owner type</option>
                  <option>Individual</option>
                  <option>Company</option>
                </select>
              </div>
            </div>
            <div class="control is-expanded" v-if="typeOfDev=='Company'">
              <p class="help form-label">Company Name</p>
              <!-- Company Name-->
              <input class="input is-primary" type="text" v-model="companyName" placeholder="Digital Malayali">
            </div>
            <div class="control is-expanded" v-if="typeOfDev=='Company'">
              <p class="help form-label">Company Address</p>
              <!-- Company Address-->
              <input class="input is-primary" type="text" v-model="companyAdd"
                placeholder="Digital Malayali, Kerala, India">
            </div>
            <div class="control is-expanded" v-if="typeOfDev=='Individual'">
              <p class="help form-label">Name</p>
              <!-- Developer Name-->
              <input class="input is-primary" type="text" v-model="devName" placeholder="Name">
            </div>
            <a class="button is-primary" @click="nextStep()" rel="noopener noreferrer">Next</a>
          </div>
        </div>
      </section>
      <section class="section" id="step-2" v-if="wizardStep==2">
        <div class="columns">
          <div class="column is-6 is-information"><img class="center-block sidebar-img"
              alt="Illustration to depict selections" src="images1/app_graphics/step_2.svg">
          </div>
          <div class="column">
            <div class="column box scrollable"><b>Include links to Third Party Services</b><a
                v-for="item in thirdPartyServices" rel="noopener noreferrer"><br>
                <input type="checkbox" :id="'list-switch-' + item.model" v-model="item[item.model]">
                <label :for="'list-switch-' + item.model"><img class="thirdparty-logo" :src="item.logo"
                    :alt="item.name"><span class="thirdparty-text">{{ item.name }}</span></label></a>
            </div>
            <a class="button is-primary" @click="prevStep()" rel="noopener noreferrer">Prev</a>
            <a class="button is-primary" @click="nextStep()" rel="noopener noreferrer">Next</a>
            <div class="box">
              <p class="has-text-grey-light">All trademarks, logos and brand names are the property of their respective
                owners. All company, product and service names used above are for identification purposes only. Use of
                these names, trademarks and brands does not imply endorsement.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="section" id="step-3" v-if="wizardStep==3">
        <div class="columns">
          <div class="column is-6 is-information"><img class="center-block sidebar-img" alt="Illustration of a computer"
              src="images1/app_graphics/step_3.svg">
          </div>
          <div class="column">
            <div class="box">
              <h2>Please copy privacy policy first</h2>
              <ol>This Privacy Policy Generator is completely <b>FREE</b>.
                <p>If you are able to, then consider supporting us by:
                  <li><a target="_blank" href="https://siki-education.github.io/" target="_blank" rel="noopener noreferrer">Visiting our
                      website &#127760;</a></li>
                </p>
              </ol>
              <p>Please consider sharing this Tool with your friends:


            </div>
            <div class="box final-box"><b>All Done!</b><br>
              <p>Now sit back and select the generated privacy policy &#128071;</p><a class="button is-danger"
                @click="togglePrivacyModalVisibility" rel="noopener noreferrer">Privacy Policy</a><br>
              <a class="button is-primary" @click="prevStep()" rel="noopener noreferrer">Go back</a><br><br>
              <p class="has-text-grey-light">The accuracy of the generated privacy policy on this website is not legally
                binding. Use at your own risk.</p>
            </div>
          </div>
        </div>
      </section>
      <div class="modal" v-bind:class="{ 'is-active': showPrivacyModal }">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title no-select">Privacy Policy</p>
            <button class="delete" aria-label="close" @click="togglePrivacyModalVisibility"></button>
          </header>
          <section class="modal-card-body modal-box">
            <div id="privacy_content" v-show="contentRenderType==1"><strong>Privacy Policy</strong>
              <p>
                {{ devOrCompanyName }} operates the website "{{webName}}" at {{siteURL}}.
                {{iOrWe | capitalize }} take your privacy seriously. To better protect your privacy,
                {{iOrWe}} provide this privacy policy notice explaining the way your personal information
                is collected and used.
              </p>
              <p><strong>Collection of Routine Information</strong></p>
              <p>
                This website track basic information about its visitors.
                This information includes, but is not limited to, IP addresses, browser details,
                timestamps and referring pages. None of this information can personally identify specific
                visitors to this website. The information is tracked for routine
                administration and maintenance purposes.
              </p>
              <p><strong>Cookies</strong></p>
              <p>
                Where necessary, this website uses cookies to store information about a visitor’s
                preferences and history to better serve the visitor and/or present the
                visitor with customized content.
              </p>
              <p><strong>Advertisement and Other Third Parties</strong></p>
              <p>
                Advertising partners and other third parties may use cookies, scripts and/or web beacons to track
                visitor activities on this website to display advertisements
                and other useful information. Such tracking is done directly by the third parties through their
                servers and is subject to their privacy policies. This website has no access or
                control over these cookies, scripts and/or web beacons that may be used by third parties.
              </p>
              <div v-if="hasThirdPartyServicesSelected">
                <p>
                  {{iOrWe | capitalize }} have included links on this website for your use and reference.
                  {{iOrWe | capitalize }} {{areOrAm}} not responsible for the privacy policies on these websites. You
                  should be aware
                  that the privacy policies of these websites may differ from {{myOrOur}} own.
                </p>
                <p>
                  Link to the privacy policy of third-party service providers used
                  by the website
                </p>
                <ul>
                  <li v-if="item[item.model] &amp;&amp; item.link.privacy" v-for="item in thirdPartyServices"><a
                      :href="item.link.privacy" target="_blank" rel="noopener noreferrer">{{item.name}}</a></li>
                </ul>
              </div>
              <p><strong>Security</strong></p>
              <p>
                The security of your personal information is important to {{meOrUs}}, but remember that no
                method of transmission over the Internet, or method of electronic storage, is 100% secure.
                While {{iOrWe}} strive to use commercially acceptable means to protect your personal information,
                {{iOrWe}} cannot guarantee its absolute security.
              </p>
              <p><strong>Changes To This Privacy Policy</strong></p>
              <p>
                This Privacy Policy is effective as of {{effectiveFromDate}} and will remain in effect except concerning
                any
                changes in its provisions in the future, which will be in effect immediately after being posted on this
                page.
                {{iOrWe | capitalize }} reserve the right to update or change {{myOrOur}} Privacy Policy at any time and
                you
                should check this Privacy Policy periodically. If {{iOrWe}} make any material changes to this Privacy
                Policy,
                {{iOrWe}} will notify you either through the email address you have provided {{meOrUs}} or by
                placing a prominent notice on {{myOrOur}} website.
              </p>
              <p><strong>Contact Information</strong></p>
              <p>
                For any questions or concerns regarding the privacy policy,
                please send {{meOrUs}} an email at <a :href="'mailto:' + webContact">{{webContact}}</a>.
              </p>
              <p>
                {{companyAddIn}}
              </p><br>
             
            </div>
            <textarea class="textarea" id="privacy_txtarea" onclick="this.focus();this.select()" readonly="readonly"
              v-show="contentRenderType==2"></textarea>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" @click="getHtml('privacy_content','privacy_txtarea')">HTML</button>
            <button class="button is-success"
              @click="getMarkdown('privacy_content', 'privacy_txtarea')">Markdown</button>
            <button class="button is-success" v-if="contentRenderType!=1" @click="preview()">Preview</button>
            <button class="button is-link" id="copybtn" data-clipboard-target="#privacy_content">Copy</button>
          </footer>
        </div>
      </div>
      <div class="modal" v-bind:class="{ 'is-active': showDisclaimerModal }">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Disclaimer</p>
            <button class="delete" aria-label="close" @click="toggleDisclaimerModalVisibility"></button>
          </header>
          
          <footer class="modal-card-foot">
            <button class="button is-info" aria-label="close" @click="toggleDisclaimerModalVisibility">Ok</button>
          </footer>
        </div>
      </div>
    </div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4117765786243799"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-4117765786243799"
     data-ad-slot="8320269418"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4117765786243799"
     crossorigin="anonymous"></script>
<!-- for pp -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4117765786243799"
     data-ad-slot="4486881909"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/to-markdown/3.1.1/to-markdown.min.js"
    integrity="sha256-2PIa0cHy6lNEesnk4/qokv291Whx/uhAy2V6WL2zmfo=" crossorigin="anonymous"></script>
  <script src="js/thirdpartyservices.js"></script>
  <script src="js/utils.js"></script>
  <script src="js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>

  <script>
    var btn = document.getElementById('copybtn');
    var clipboard = new ClipboardJS(btn);

    clipboard.on('success', function (e) {
      console.info('Action:', e.action);
      console.info('Text:', e.text);
      console.info('Trigger:', e.trigger);
    });

    clipboard.on('error', function (e) {
      console.info('Action:', e.action);
      console.info('Text:', e.text);
      console.info('Trigger:', e.trigger);
    });
  </script>



  <!-- Service Worker-->
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js');
    }
  </script>

  <script>
    /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
    particlesJS.load('particles-js', '/js/particles.json', function () {
      console.log('particles.json loaded');
    });
  </script>

</body>

</html>
